.get-debtors-button {
    background: rgb(189, 36, 186);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    display: block;
    margin: 80px auto;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    width: 270px;
}

.get-debtors-button:hover {
    background: rgb(83, 39, 178);
}

.register-payments-buttons-container{
    display: flex;
    gap: 30px;
}

.payments-buttons{
    width: 180px;
    padding: 10px;
    background: rgb(0, 188, 255);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
}

.payments-buttons:hover {
    background: rgb(62, 64, 149);
}